@rendermode InteractiveServer


@if (DcVillainsNameList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="text-md-center">
        <input type="text"
               @bind-value="SearchText"
               @bind-value:event="oninput"
               placeholder="Search plans you'd like embargoed..."
               class="form-control" />
    </div>
}