@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<div class="row">
    <div class="col-lg-6">
        <div class ="scene scene--card">
            <div class="card" style="width: 18rem;">
                <div class="card__face card__face--front">
                    <div class="cardFrontInner">
                        <h5 class="card-title" align="center">Villains In The DcVerse.</h5>
                        <hr />
                        <div class="cardTextFront">
                            <p class="card-text">@DcVillainsCard?.DcVillanId</p>
                            <p class="card-text">@DcVillainsCard?.VillanName</p>
                            <p class="card-text">@DcVillainsCard?.VillanPower</p>
                            <p class="card-text">@DcVillainsCard?.VillanAge</p>
                            <p class="card-text">@DcVillainsCard?.Weaknesses</p>
                            <p class="card-text">@DcVillainsCard?.CityLocation</p>
                            <p class="card-text">@DcVillainsCard?.ThreatLevel</p>
                            <p class="card-text">@DcVillainsCard?.PlacedInArkham</p>
                            <p class="card-text">@DcVillainsCard?.SupermanLevelVillan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>