@page "/DcVillainsManagement"
@using Microsoft.AspNetCore.Authorization
@using SkillsShowcase.Components.Pages.LayeredPages.DcVillainsLayeredComponents
@rendermode InteractiveServer

@attribute [Authorize]

@if (DcVillainsForMainPage == null)
{
    <p><em>Loading...</em></p>
} 
else
{
    <div id="dcVillainsCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @foreach (var villain in DcVillainsForMainPage)
            {
                <div class="carousel-item @(villain == DcVillainsForMainPage[0] ? "active" : "")">
                    <DcVillainsCards DcVillainsCard="villain" />
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#dcVillainsCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#dcVillainsCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}