@page "/"
@page "/EmployeeInfo"

<PageTitle>Employee Info</PageTitle>

<h1 align="center">Employee Info</h1>

<!--@if (Employee == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var worker in Employee)
    {
        <div class="container">
            <div class="card">
                <table class="table">
                    <thead>
                        <tr>
                            <th id="row1" scope="col">#</th>
                            <th id="row2" scope="col">First</th>
                            <th id="row3" scope="col">Last</th>
                            <th id="row4" scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th id="row5" scope="row">@employee.EmployeeName</th>
                            <td id="row6">GetPower.Admin</td>
                            <td id="row7">######</td>
                            <td id="row8"><button type="button" class="btn btn-info">Info</button></td>
                        </tr>
                        <tr>
                            <th id="row9" scope="row">2</th>
                            <td id="row10">GetPower.Web</td>
                            <td id="row11">######</td>
                            <td id="row12"><button type="button" class="btn btn-info">Info</button></td>
                        </tr>
                        <tr>
                            <th id="row13" scope="row">3</th>
                            <td id="row14">GetPower.EnergyOgre</td>
                            <td id="row15">######</td>
                            <td id="row16"><button type="button" class="btn btn-info">Info</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
}-->

