.dashboard-container {
    padding: 20px;
    background-color: khaki;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 750px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 8px;
    margin-top: 5px;
}

.chart-item {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 210px;
    width: 350px;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

/* Responsive design for smaller devices */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }