@using SkillsShowcase.Shared.Domain.Models.Enums

@rendermode InteractiveServer

<div>
    <label id="LabelText" for="guitarDropdown">Select Guitars To Display:</label>
    <select  id="guitarDropdown" @bind="SelectedGuitarOption" class="dropdown">
        @foreach (GuitarOptions options in Enum.GetValues(typeof(GuitarOptions)).Cast<GuitarOptions>())
        {
            <option value="@options">@GetEnums(options)</option>
        }
    </select>
</div>