@page "/Account/Login"

@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject NavigationManager NavigationManager


<PageTitle>Log in</PageTitle>


<div id="ContentContainer" class="container">
    <div class="row">
        <div class="col align-self-center">
            <div id="cardcontent" class="card" style="width: 30rem">
                <img src="/images/DevonRismay.jpg" class="card-img-top" alt="Card Picture" />
                <div class="card-body">
                    <h5 id="headertext" align="center"> Welcome To Devon's Skills Showcase.</h5>
                    <hr />
                    <p id="paragraphtext" align="center">"Login to gain Access"</p>
                    <div class="container">
                        <form align="center" method="post" action="Account/PerformGoogleLogin">
                            <AntiforgeryToken />
                            <input type="hidden" name="returnUrl" value="@NavigationManager.Uri" />
                            <button class="btn btn-primary">Log Into Skills Showcase</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>