#ContentContainer.container {
    position: relative;
    width: 50%;
    height: 50%;
    min-height: 300px;
    min-width: 500px;
    align-content: center;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}
